<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This file is part of the prooph/event-store-client.
  ~ (c) 2018-2020 Alexander Miertsch <kontakt@codeliner.ws>
  ~ (c) 2018-2020 Sascha-Oliver Prolic <saschaprolic@googlemail.com>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="tests/_bootstrap.php"
        failOnWarning="true"
        failOnRisky="true"
>
    <testsuite name="Prooph EventStoreClient Test Suite">
        <directory suffix=".php">./tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>./src/</directory>
            <exclude>
                <directory suffix=".php">./src/Messages/ClientMessages</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="ES_HOST" value="localhost"/>
        <env name="ES_PORT" value="1113"/>
        <env name="ES_HTTP_PORT" value="2113"/>
        <env name="ES_USER" value="admin"/>
        <env name="ES_PASS" value="changeit"/>
    </php>
</phpunit>
